html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


body {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

.wrapper.header {
    height: 600px;
}

header {
    background-image: url(./assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    min-height: 600px;
}

img {
    max-width: 100%;
}

.hamburgerMenu {
    display: none;
}



/* logo and Nav bar */
.nav-logo {
    color: white;
    font-size: 3.5rem;
    font-style: italic;
    float: left;
}

.wrapper.header {
    padding: 20px 0;
}
.wrapper nav {
    float: right;
} 

.wrapper nav li {
    display: inline-block;
    margin-left: 2rem;
}

.nav-menu li a {
    font-size: 1.03rem;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
}



/* h1 on the home page */
.wrapper.header h1 {
    font-size: 8.8rem;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 80%;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.wrapper.header span {
    font-style: italic;
    display: block;
    font-size: 12rem;
}



/* social icons */
.social-icons {
    float: right;
    font-size: 1.3rem;
    position: absolute;
    right: 2%;
    bottom: 24%;
    display: block;
}

.social-icons i {
    padding: 7px;
    color: white;
}



/* newsArticles section */
.newsArticles h2 {
    text-align: center;
    font-size: 2.7rem;
    margin: 4rem auto;
}

.gallery li {
    float: left;
    width: calc((100%/3) - (40px/3));
    margin-right: 20px;
    display: block;
}

.gallery li:nth-child(3n + 3) {
    margin-right: 0px;
}



/* This Week Highlights section */
.highlights {
    margin: 4rem auto;
    position: relative;
}

.highlightsImage {
    float: left;
    width: 25%;
    display: block;
}

.contentBox {
    margin-left: 20px;
    width: calc(75% - 20px);
    float: right;
    display: block;
}

.contentBox h3 {
    font-size: 2.3rem;
    padding-bottom: 20px;
}

.contentBox p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    line-height: 120%;
}

.readMoreButton a {
    color: white;
    background-color: rgba(24, 51, 153, 1);
    text-decoration: none;
    padding: 12px 22px;
    font-size: 0.9rem;
}



/* "NEW TRENDS TO LOOKOUT FOR" Section styles */
.textPhotoGallery {
    display: block;
}

.article {
    width: 50%;
    float: left;
    padding-left: 10vw;
    padding-right: 3%;
    padding-top: 40px;
    position: relative;
}

.blogImage {
    width: 50%;
    float: left;
}

.article h4 {
    width: 50%;
    font-size: 1.6rem;
    padding-bottom: 20px;
}

.article p {
    font-size: 1.6rem;
    width: 95%;
    line-height: 110%;
    padding-bottom: 40px;
}



/* BEHIND THE SCENES FROM SPRING/SUMMER FASHION WEEK row */
.article.article2 {
    padding-left: 5vw;
}

.article.article2 h4 {
    padding-top: 20px;
    width: 80%;
    padding-bottom: 20px;
}

.article.article2 p {
    padding-bottom: 40px;
    width: 90%;
}



/* Upper Footer styles (SHOP BRANDS, COMMUNITY, EVENTS) */
.footerBlue.wrapper {
    display: block;
}

.footerBlue {
    height: 250px;
    background-image: url(./assets/one-magazine-footer.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}

.iconAndText {
    float: left;
    width: calc(100%/3);
    margin-top: 6%;
    text-align: center;
}

.iconAndText a, .iconAndText h4 {
    color: white;
}

.iconAndText a {
    font-size: 4rem;
}

.iconAndText h4 {
    font-size: 1.6rem;
}



@media (max-width: 1340px) {
    .iconAndText h4 {
        font-size: 1.3rem;
    }
}

/* Middle part of the footer  */
    .footerGrey {
        background-color: rgb(227, 227, 227);
        height: 250px;
    }

    .footerGrey p {
        font-size: 1.1rem !important;
    }

    .footerGrey .wrapper.clearfix {
        display: block;
    }

    .emailForm {
        width: 50%;
        padding: 70px 0 0 0;
        float: left;
    }

    .contacts {
        width: 29%;
        float: left;
        padding: 70px 0 0 70px;
    }

    .footerMenu {
        width: 21%;
        float: left;
    }

    .emailForm h5,
    .contacts h5 {
        font-size: 1.6rem;
    }

    .emailForm p,
    .contacts p,
    input[placeholder] {
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    .emailForm p,
    .contacts p {
        padding-top: 10px;
    }

    .emailForm form {
        padding-top: 13px;
    }

    input[type=email] {
        height: 40px;
        width: 75%;
    }

    input[placeholder] {
        padding-left: 20px;
        font-family: 'Roboto', sans-serif;
    }

    input[type=submit] {
        width: 25%;
        float: right;
        height: 40px;
        background-color: black;
        border: none;
        color: white;
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 0.8rem;
    }

    .contacts span {
        display: block;
    }

    .contacts p {
        line-height: 140%;
    }



/* footerMenu styles */
    .footerMenu {
        font-family: 'Roboto', sans-serif;
        padding: 70px 0 0 0;
        text-align: right;
        font-size: 1.3rem;
    }

    .footerMenu li {
        margin-bottom: 7px;
    }

    .footerMenu a {
        text-decoration: none;
        color: black;
        
    }



/* Copyrights section at the bottom */
    .footerCopyrights {
        height: 2rem;
        background-color: rgb(172, 172, 172);
        text-align: center;
    }

    .footerCopyrights p {
        padding-top: 10px;
        font-size: 1rem !important;
    }



/* important */
    p {
        font-family: 'Roboto', sans-serif !important;
        color: rgba(53, 53, 53, 0.715) !important;
        font-size: 1.4rem !important;
    }
    h4 {
        font-weight: 600;
        font-size: 1.8rem !important;
    }
    .footerGrey p {
        font-size: 1.1rem !important;
    }



/* media queries */
@media (max-width: 1439px) {
    .highlightsImage {
        width: 35%;
    }
    .contentBox {
        width: calc(65% - 20px);
    }
    .contentBox h3 {
        font-size: 2.4rem;
    }
    .contentBox p {
        font-size: 1.8rem;
    }


    /* footerGrey styles */
    .contacts {
        padding: 70px 0 0 20px;
        width: 35%;
    }
    
    .footerMenu {
        width: 15%;
    }
}

@media (max-width: 1340px) {
    .textPhotoGallery {
        margin: 0 auto;
        max-width: 1280px;
        width: 80%;
    }

    .article {
        width: 35%;
        float: right;
        padding: 0 0 0 20px;
    }

    .blogImage.image1 {
        width: 65%;
        float: left;
    }

    .article h4 {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .article p {
        padding-bottom: 40px;
        width: 100%;
    }

    .article .readMoreButton {
        padding-bottom: 60px;
    }


/* second row */
    .blogImage.image2 {
        width: 65%;
        float: left;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .article.article2 {
        width: 35%;
        float: right;
        padding: 0 0 0 20px;
    }

    .article.article2 h4 {
        padding-top: 4rem;
        width: 100%;
    }
    
    .article.article2 p {
        width: 100%;
    }


}

@media (max-width: 1290px) {
    .textPhotoGallery {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .blogImage.image1 {
        width: 100%;
        float: left;
        order: 1;
    }

    .article {
        width: 100%;
        float: left;
        order: 2;
        padding-left: 0;
    }

    .article h4 {
        padding-top: 2rem;
    }

    .blogImage.image2 {
        width: 100%;
        order: 3;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .article.article2 {
        width: 100%;
        order: 4;
        padding-left: 0;
    }

    .article.article2 h4 {
        padding-top: 2rem;
    }
}

@media (max-width: 1230px) {
    .highlightsImage {
        width: 100%;
        display: block;
    }

    .highlightsImage img {
        max-width: 100%;
    }

/* QUESTION: I can't center the image inside of a div container. I tried playing around with padding, margin, text-align. Tried googling but everyone is suggesting to use flex-box */

    .contentBox {
        width: 100%;
        display: block;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .footerMenu {
        display: none;
    }

    .contacts {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .nav-logo, .nav-menu, .social-icons {
        display: none;
    }

    .wrapper.header {
        position: relative;
    }

    .hamburgerMenu {
        display: block;
        position: absolute;
        right: -2rem;
        top: 2rem;
        width: 55px;
        height: 50px;
        color: white;
    }

    .hamburgerMenu span {
        background-color: white;
        width: 100%;
        height: 5px;
        margin-bottom: 9px;
        position: relative;
        display: block;
        border-radius: 5px;
    }

    .iconAndText {
        margin-top: 10%;
    }

    .wrapper.header h1 {
        top: 64%;
        font-size: 6.8rem;
        line-height: 95%;
    }

    .gallery li {
        width: calc((100%/2) - (40px/2));
        margin-right: 20px;
        display: block;
    }

    .gallery li:nth-child(3) {
        display: none;
    }


    .gallery li:nth-child(2) {
        margin-right: 0px;
    }

    .contentBox h3,
    .contentBox p,
    .contentBox .readMoreButton,
    .article h4,
    .article p,
    .article .readMoreButton {
        text-align: center;
    }

    .emailForm {
        width: 100%;
    }
    .contacts {
        width: 75%;
        float: left;
        padding-left: 0;
        padding-bottom: 2rem;
    }
    .footerMenu {
        display: block;
        float: right;
        width: 25%;
    }

    .contacts, .footerMenu {
        padding-top: 3rem;
    }

    .footerCopyrights {
        display: block;
        float: right;
        width: 100%;
    }

    .footerGrey {
        height: auto;
    }
}

@media (max-width: 768px) {
    .iconAndText {
        margin-top: 15%;
    }

    .iconAndText a {
        font-size: 3rem;
    }

    .iconAndText h4 {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 624px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
    .wrapper.header h1 {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 6rem;
        line-height: 100%;
        height: auto;
    }

    .wrapper.header span {
        font-size: 10rem;
    }

    .footerBlue {
        height: auto;
        background-size: cover;
        background-position: left;
    }

    .iconAndText {
        width: 100%;
    }

    .iconAndText:first-child {
        margin-top: 10%;
    }

    .iconAndText:last-child {
        margin-bottom: 10%;
    }

    .iconAndText i {
        font-size: 4rem;
    }

    .iconAndText h4 {
        padding-top: 1rem;
    }

    body p, .footerGrey p {
        font-size: 1rem !important;
    }
}

@media (max-width: 570px) {
    .wrapper.header h1 {
        font-size: 5rem;
    }

    .wrapper.header span {
        font-size: 9rem;
    }

    .footerMenu {
        font-size: 1.2rem;
    }
}

@media (max-width: 470px) {
    .wrapper.header h1 {
        font-size: 4.5rem;
        line-height: 85%;
    }

    .wrapper.header span {
        font-size: 6rem;
    }
}

@media (max-width: 425px) {
    .wrapper.header h1 {
        font-size: 3.5rem;
        line-height: 95%;
        display: block;
        text-align: center;
    }

    .wrapper.header span {
        font-size: 6rem;
    }

    input[type=email] {
        width: 50%;
    }

    input[type=submit]{
        width: 50%;
    }

    .footerMenu {
        font-size: 1rem;
    }

    .contacts {
        width: 70%;
    }

    .contacts p, .contacts span {
        font-size: 0.8rem !important;
    }

    .footerCopyrights p {
        font-size: 0.8rem !important;
    }
}

